*{
    text-align: center;
}

table{
    border: 10px ;
    border-style:outset;
    border-spacing: 10px;
    table-layout: fixed;
}

tr, td, th{
    border: 2px;
    border-style:inset;
}

.examples{
    max-width: 11px;
    word-break: break-all; 
}

.colorfulCell{
    background-color: blueviolet;
}